$large-screen: screen and (min-width: 900px) and (max-width: 1280px);
$medium-screen: screen and (min-width: 600px) and (max-width: 899px);
$mobile-screen: screen and (min-width: 320px) and (max-width: 599px);


body{

  background-image: url('http://wallpapercave.com/wp/tzSz4iB.jpg');

  h1{
  text-align: center;
  color: blue;
  }

  #pixelPainter{
    display: flex;
    flex-flow: row wrap;

  }

  #canvas{
    display: inline-block;

    @media #{$mobile-screen} {
      transform: scale(.6);
      margin-left: -100px;
    }
  }

  #grid .cells {
    box-sizing: border-box;
    height: 20px;
    width: 20px;
    border: 1px solid black;
    float: left;
  }


  #swatchContainer{
   display: inline-block;
   margin-top: 200px;
   margin-right: 100px;
   vertical-align: top;

   @media #{$mobile-screen} {
      transform: scale(.8);
      margin-top: 20px;
      margin-left: 200px;
    }

  }



  #swatchContainer .colorCells {
    box-sizing: border-box;
    height: 20px;
    width: 20px;
    border: 1px solid black;
    float: left;
  }

  #buttonContainer {
    display: inline-block;
  }



  #buttonContainer .btn {
    padding: 10px;
    color: black;
    font-weight: bold;
    background-color: aqua;
    margin: 5px;

  }

}







