$large-screen: screen and (min-width: 900px) and (max-width: 1280px);
$medium-screen: screen and (min-width: 600px) and (max-width: 899px);


body{
  background-color: white;
  background-image: url('http://wallpapercave.com/wp/tzSz4iB.jpg');

  h1{
  text-align: center;
  color: blue;
  }

  #pixelPainter{
    max-width: 1280px;
    margin: 0 ;

    @media #{$large-screen} {
      width: 100%;
      margin: 20 100;
    }

    @media #{$medium-screen} {
       width: 100%;
      margin: 0 auto;
      transform: scale(.8);
      vertical-align: bottom;

    }

  }

  #canvas{
    display: inline-block;

  }

  #grid .cells {
    box-sizing: border-box;
    height: 20px;
    width: 20px;
    border: 1px solid black;
    float: left;
  }


  #swatchContainer{
   display: inline-block;
   margin-top: 200px;
   margin-right: 100px;
   vertical-align: top;

   @media #{$large-screen} {
      margin-right: 20px;
    }

    @media #{$medium-screen} {
      margin-right: 10px;
      margin-top: 10px;
    }

  }

  #swatchContainer .colorCells {
    box-sizing: border-box;
    height: 20px;
    width: 20px;
    border: 1px solid black;
    float: left;
  }

  #buttonContainer {
    display: inline-block;
  }



  #buttonContainer .btn {
    padding: 10px;
    color: black;
    font-weight: bold;
    background-color: aqua;
    margin: 5px;

  }

}







