body {
  background-image: url("http://wallpapercave.com/wp/tzSz4iB.jpg"); }
  body h1 {
    text-align: center;
    color: blue; }
  body #pixelPainter {
    display: flex;
    flex-flow: row wrap; }
  body #canvas {
    display: inline-block; }
    @media (max-width: 599px) {
      body #canvas {
        transform: scale(0.6);
        margin-left: -100px; } }
  body #grid .cells {
    box-sizing: border-box;
    height: 20px;
    width: 20px;
    border: 1px solid black;
    float: left; }
  body #swatchContainer {
    display: inline-block;
    margin-top: 200px;
    margin-right: 100px;
    vertical-align: top; }
    @media (max-width: 599px) {
      body #swatchContainer {
        transform: scale(0.8);
        margin-top: 20px;
        margin-left: 200px; } }
  body #swatchContainer .colorCells {
    box-sizing: border-box;
    height: 20px;
    width: 20px;
    border: 1px solid black;
    float: left; }
  body #buttonContainer {
    display: inline-block; }
  body #buttonContainer .btn {
    padding: 10px;
    color: black;
    font-weight: bold;
    background-color: aqua;
    margin: 5px; }
