body {
  background-color: white;
  background-image: url("http://wallpapercave.com/wp/tzSz4iB.jpg"); }
  body h1 {
    animation-duration: 7s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate; }

@keyframes slidein {
  from {
    color: blue;
    margin-left: 90%;
    width: 300%; }
  to {
    color: orange;
    margin-left: 0%;
    width: 100%; } }
  body #pixelPainter {
    width: 80%;
    margin: 0;
    margin-left: 300px; }
  body #canvas {
    display: inline-block;
    animation-duration: 1s;
    animation-name: flip;
    animation-iteration-count: infinite;
    animation-direction: alternate; }

@keyframes flip {
  from {
    margin-top: 50%;
    width: 300%; }
  to {
    margin-bottom: 0%;
    width: 100%; } }
  body #grid .cells {
    box-sizing: border-box;
    height: 20px;
    width: 20px;
    border: 1px solid black;
    float: left; }
  body #swatchContainer {
    display: inline-block;
    vertical-align: top;
    display: inline-block;
    animation-duration: 3s;
    animation-name: shift;
    animation-iteration-count: infinite;
    animation-direction: alternate; }

@keyframes shift {
  from {
    margin-right: 0%;
    width: 300%; }
  to {
    margin-left: 100%;
    width: 100%; } }
  body #swatchContainer .colorCells {
    box-sizing: border-box;
    height: 20px;
    width: 20px;
    border: 1px solid black;
    float: left; }
  body #buttonContainer {
    display: inline-block; }
  body #buttonContainer .btn {
    padding: 10px;
    color: black;
    font-weight: bold;
    background-color: aqua;
    margin: 5px; }
