body {
  background-color: white;
  background-image: url("http://wallpapercave.com/wp/tzSz4iB.jpg");
}

h1 {
  text-align: center;
  position: absolute;
  top: 50px;
  left: 800px;
  color: blue; }

#pixelPainter {
  position: absolute;
  top: 150px;
  left: 600px; }

#grid .cells {
  box-sizing: border-box;
  height: 20px;
  width: 20px;
  border: 1px solid black;
  float: center; }

#swatchContainer {
  position: absolute;
  top: 200px;
  left: 200px; }

#swatchContainer .colorCells {
  box-sizing: border-box;
  height: 20px;
  width: 20px;
  border: 1px solid black;
  float: center; }

#buttonContainer {
  position: absolute;
  top: 440px;
  left: 202px; }

#buttonContainer .btn {
  padding: 10px;
  color: black;
  font-weight: bold;
  background-color: aqua; }
